
{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Dento - Dentist &amp; Medical HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>University Dental Clinic</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/Logo.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="2211 University Ave, Riverside, CA 92507"><i class="fa fa-map-marker"></i> <span>2211 University Ave, Riverside, CA 92507</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="univdentalclinic@gmail.com"><i class="fa fa-envelope"></i> <span>univdentalclinic@gmail.com</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="https://www.instagram.com/universitydentalclinic/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
          
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/logo.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

             <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  
                  <li><a href="about.html">About</a></li>
                  <li><a href="service.html">Service</a></li>
                  <li><a href="./contact.html">Contact</a></li>
                </ul>
              </div>
            <!-- Nav End -->

            </div>

            <!-- Booking Now Button -->
            <a href="#" class="btn dento-btn booking-btn">Booking Now</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/1.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">Where every smile is treated with care.</h2>
                <p data-animation="fadeInUp" data-delay="300ms">Our team of experienced and friendly dental professionals is committed to making your visits to our clinic as comfortable and stress-free as possible. We understand that going to the dentist can be a daunting experience for many people, which is why we prioritize patient comfort and satisfaction above all else.</p>
                <div class="welcome-btn-group">
                  <a href="#" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Get Started</a>
                  <a href="#" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/2.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">We make it possible for everyone to have quality dental care.</h2>
                <p data-animation="fadeInDown" data-delay="300ms">We are also committed to providing affordable dental care to our patients. We accept most insurance plans and offer a variety of payment options to ensure that everyone can receive the dental care they need.</p>
                <div class="welcome-btn-group">
                  <a href="contact.html" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Get Started</a>
                  <a href="contact.html" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/15.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p>Our team of dental professionals includes experienced dentists, hygienists, and support staff who are committed to providing exceptional patient care. We take the time to listen to our patients, understand their needs and concerns, and develop personalized treatment plans to help them achieve their dental goals. 
            At University Dental Clinic, we believe that education and prevention are key to maintaining good oral health. That's why we are dedicated to educating our patients on the importance of good oral hygiene, proper nutrition, and routine dental care.

            We are proud to serve the Riverside community and look forward to helping our patients achieve healthy, beautiful smiles that last a lifetime. Contact us today to schedule your appointment and experience the University Dental Clinic difference.</p>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Experience Dentist</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="100"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Modern Equipment</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="100"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Friendly Staff</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="100"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">30</span></h2>
            <h5>Years Of Experience</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">1000</span>+</h2>
            <h5>Happy Patients</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">80</span></h2>
            <h5>Certificates</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">1</span></h2>
            <h5>Dental Clinic</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- Dento Service Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/13.jpg' %});">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>Our Services</h2>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                  <h6>Teeth Whitening</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s2.png' %}" alt="">
                  <h6>Missing Teeth</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s3.png' %}" alt="">
                  <h6>Teeth Whitening</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s4.png' %}" alt="">
                  <h6>Cosmetic Dentistry</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s5.png' %}" alt="">
                  <h6>Examination</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                  <h6>Teeth Pain</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <img src="{% static 'website/img/bg-img/14.jpg' %}" alt="">
            <!-- Play Button -->
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Book An Appointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Book An Apointment</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form">
            <form action="{% url 'appointment' %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="Your Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Your Phone" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="Your Address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-schedule" class="form-control">
                      <option value="Choose Your Scheldule">Choose Your Scheldule</option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="2 PM to 4 PM">2 PM to 4 PM</option>
                      
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-time" class="form-control">
                      <option value="Choose Your Time">Choose Your Scheldule</option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="2 PM to 4 PM">2 PM to 4 PM</option>
                      
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Booking Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Oppointment Area End -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Dentist</h2>
            <div class="line">
          </div>
        </div>
      </div></div>

      
      <div class="row justify-content-center align-items-center">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/9.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.instagram.com/universitydentalclinic/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->

              <div class="dentist-info bg-gradient-overlay">
                <h5>David Medina</h5>
                <p>General Dentist</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100 ">
            <img src="{% static 'website/img/bg-img/10.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.instagram.com/universitydentalclinic/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Elizabeth Espino</h5>
                <p>General Dentist</p>
              </div>
            </div>
          </div>
        </div>
  </section>

        
  <!-- ***** Dento Dentist Area End ***** -->


  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/7.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">

                <h5>"I recently visited University Dental Clinic and was pleasantly surprised by the level of comfort I experienced during my appointment. The staff was incredibly friendly and made me feel at ease, and the dentist was gentle and attentive throughout my exam. I highly recommend this clinic for anyone seeking a comfortable and stress-free dental experience!"</h5>
                <h6>James</h6>
                <p>-Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">

                <h5>“I recently visited Dr.Medina and his staff, and I have to say, it was one of the most pleasant dental experiences I've ever had. From the moment I walked in the door, I felt welcomed and at ease. The waiting room was clean and modern, and the staff at the front desk were friendly and helpful.

                When I was called back to the exam room, the dental assistant who worked with me was incredibly gentle and patient. She explained everything she was doing, and made sure I was comfortable throughout the entire process. The dentist who performed my exam was also wonderful - he was thorough and professional, but also very personable and easy to talk to.

                Overall, I was impressed with every aspect of my visit. They really seem to understand how to make patients feel comfortable and at ease, which is so important when it comes to dental care. I would highly recommend this dental office to anyone looking for a positive dental experience.”</h5>
                <h6>Estephanie</h6>
                <p>-Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>"I had a great experience at University Dental Clinic. The staff was very friendly and professional, and they made me feel comfortable throughout my visit. The clinic was clean and modern, and the dentist took the time to explain everything to me. I highly recommend this dental clinic for anyone looking for quality care in a comfortable setting."</h5>
                <h6>Eduardo</h6>

                <p>-Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>"I recently visited University Dental Clinic and was pleasantly surprised by the level of comfort I experienced during my appointment. The staff was incredibly friendly and made me feel at ease, and the dentist was gentle and attentive throughout my exam. I highly recommend this clinic for anyone seeking a comfortable and stress-free dental experience!"</h5>
                <h6>James</h6>


                <p>-Patient</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  
  

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/3.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="home.html" class="d-block mb-4"><img src="{% static 'website/img/core-img/logo.png' %}" alt=""></a>
            <p>Whether you're a long-time patient or new to our clinic, we welcome you to our community of dental health. Thank you for choosing University Dental Clinic for your dental needs.</p>
            <div class="footer-contact">
              <p><i class="icon_pin"></i> 2211 University Ave, Riverside, CA 92507</p>
              <p><i class="icon_phone"></i> (951) 289-9198</p>
              <p><i class="icon_mail"></i> univdentalclinic@gmail.com</p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title text-center">Opening Hours</h5>

            <!-- Opening Hours -->
            <ul class="opening-hours">
              <li><span>Mon-Wed</span> <span>9am-6pm</span></li>
              <li><span>Thu-Fri</span> <span>9am-6pm</span></li>
              <li><span>Sat</span> <span>Closed</span></li>
              <li><span>Sun</span> <span>Closed</span></li>
              <li><span>Holiday</span> <span>Closed</span></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title text-center">Quick Link</h5>

            
            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                
                
                <li><a href="{% url 'about' %}">Dentist</a></li>
                <li><a href="{% url 'service' %}">Services</a></li>
                
              </ul>
            </nav>
          </div>
        </div>


        

            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="https://www.instagram.com/universitydentalclinic/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
           
            </div>
          </div>
        </div>
      </div>
    </div>

  
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>
