{% extends 'base.html' %}
{% load static %}
{% block title %}University Dental Clinic Services{%endblock %}
{% block meta_description %}Find the current dental services offered by Dr. Medina{% endblock %}

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url(img/bg-img/12.jpg);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Service</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="./img/core-img/s6.png" alt="">
            </div>
            <h5>Teeth Whitening</h5>
            <p>Teeth whitening is a popular cosmetic treatment that can help brighten teeth and remove stains, resulting in a whiter, brighter smile.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="./img/core-img/s7.png" alt="">
            </div>
            <h5>Dental Implants</h5>
            <p>At our dental office, we offer dental implant services as a permanent solution to missing teeth. Dental implants are a popular and effective treatment option for patients who have lost one or more teeth due to injury, decay, or other factors. Implants are small, screw-like posts that are surgically placed into the jawbone, providing a strong and stable foundation for a replacement tooth or teeth.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="./img/core-img/s8.png" alt="">
            </div>
            <h5>Missing Teeth</h5>
            <p>At our dental office, we offer a range of treatments for patients with missing teeth. Missing teeth can have a significant impact on a person's oral health, including problems with chewing, speaking, and the alignment of surrounding teeth. Our team of experienced dental professionals can help patients with missing teeth regain their oral function and improve their overall quality of life with a variety of treatment options. </p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="./img/core-img/s9.png" alt="">
            </div>
            <h5>Cosmetic Dentistry</h5>
            <p>At our dental office, we offer a range of cosmetic dentistry services designed to enhance the appearance of our patients' smiles. Cosmetic dentistry involves treatments and procedures that focus on improving the aesthetic appearance of teeth, gums, and the overall smile. Some of the cosmetic dentistry services we offer include teeth whitening, veneers, bonding, and orthodontic treatment.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="./img/core-img/s10.png" alt="">
            </div>
            <h5>Examination</h5>
            <p>A dental exam is a regular check-up performed by a dentist to evaluate a patient's overall oral health, including the teeth, gums, and mouth. The exam helps detect oral health problems early, address current issues, and prevent future problems. Regular exams, usually recommended every six months, are crucial for maintaining good oral health.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="./img/core-img/s6.png" alt="">
            </div>
            <h5>Teeth Pain</h5>
            <p>If you're experiencing teeth pain, our dental office is here to help. Our experienced team of dentists can evaluate the source of your pain and determine the best course of action to alleviate it. Whatever the cause of your discomfort, our dental office is dedicated to providing personalized care to help you feel better and achieve optimal oral health.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('img/bg-img/7.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="./img/bg-img/8.jpg" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>"I recently visited University Dental Clinic and was pleasantly surprised by the level of comfort I experienced during my appointment. The staff was incredibly friendly and made me feel at ease, and the dentist was gentle and attentive throughout my exam. I highly recommend this clinic for anyone seeking a comfortable and stress-free dental experience!"</h5>
                <h6>James</h6>
                <p>-Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="./img/bg-img/8.jpg" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                 <h5>“I recently visited Dr.Medina and his staff, and I have to say, it was one of the most pleasant dental experiences I've ever had. From the moment I walked in the door, I felt welcomed and at ease. The waiting room was clean and modern, and the staff at the front desk were friendly and helpful.

                When I was called back to the exam room, the dental assistant who worked with me was incredibly gentle and patient. She explained everything she was doing, and made sure I was comfortable throughout the entire process. The dentist who performed my exam was also wonderful - he was thorough and professional, but also very personable and easy to talk to.

                Overall, I was impressed with every aspect of my visit. They really seem to understand how to make patients feel comfortable and at ease, which is so important when it comes to dental care. I would highly recommend this dental office to anyone looking for a positive dental experience.”</h5>
                <h6>Estephanie</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="./img/bg-img/8.jpg" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                 <h5>“I'd been avoiding the dentist for years due to bad experiences. A reminder SMS is sent the working day beforehand. I also had a call confirming appointment. I have been a patient ever since. My dentist is very reassuring and
                  very helpful. Excellent treatment and advice.”</h5>

                <h6>James</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="./img/bg-img/8.jpg" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I'd been avoiding the dentist for years due to bad experiences. A reminder SMS is sent the working day beforehand. I also had a call confirming appointment. I have been a patient ever since. My dentist is very reassuring and
                  very helpful. Excellent treatment and advice.”</h5>

                <h6>Eduardo</h6>
                <p>Dental Patient</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  

  


{% endblock %}